$maxImageSize:300px;

.bannerArt{
    
    margin-top: 5%;
    border-radius: 10px;
    background:linear-gradient(rgba(0, 0, 0, 0.527),
    rgba(0, 0, 0, 0.5)), no-repeat, url('../../.../../../assets/banner.jpeg');
    background-size: cover;
    height: $maxImageSize;
    width: 100%;
    position: relative;
    .details{
        p{
            color: #fff;
        }
        position: absolute;
        left:0;
        text-align: left;
        margin-left: 8%;

        .verified{
            margin-top: 50%;
            padding: 0;
        }
        .artist{
            font-weight: 900;
            font-size: 2.7rem;
            margin: 0;
        }
        .listeners{

        }
    }
    .art{
        position: relative;
        img{
            position: absolute;
            right: 0;
            padding: 1.5rem;
            max-height: 250px;
            max-width: 250px;
        }
    }
}